doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title EData
    |   
    |   
    |   
    |       
    link(rel='stylesheet', href='css/style.css')
  body
    #clouds
      .cloud.x1
      // Time for multiple clouds to dance around
      .cloud.x2
      | &#x9;
      .cloud.x3
      |     
      .bottom
        h3
          font(color='#2F84C8', size='7', style='font-family:Comic Sans MS', ;='') Welcome to EData
      | &#x9;
      .cloud.x4
      | &#x9;
      .cloud.x5
    |  
    .container
      #login
        form(method='post')
          fieldset.clearfix
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            |             
            p
              input(type='submit', style='font-family:Comic Sans MS', src='emp.png', value='Log In')
            |     
            img(src='emp.png', alt='Smiley face')
      // end login
